doctype html 
html(lang='en')
    head 
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Workflow Management System')
        meta(name='author' content='navbarResponsive')
        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap')
        link(rel='stylesheet' href='fonts/icomoon/style.css')
        link(rel='stylesheet' href='css/owl.carousel.min.css')
        // Bootstrap CSS
        link(rel='stylesheet' href='css/bootstrap.min.css')
        // style
        link(rel='stylesheet' href='css/style.css')
        title Workflow Management System
    
    body 
        .content.masthead
            .container
                .row
                    .col-md-6
                    .col-md-6.contents
                        .row.justify-content-center
                            .col-md-8.bgg.col-sm-12.my-auto
                                .mb-4 
                                    h3.text-uppercase.text-white Log in to your account
                                    p.mb-4.text-white Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.
                                .form
                                    .form-group.first 
                                        label.text-white(for='email') email
                                        input.form-control(type='email')#email
                                    .form-group.last.mb-4
                                        label.text-white(for='password') Password
                                        input.form-control(type='password')#password
                                    .d-flex.mb-5.align-items-center
                                        label.control.control--checkbox.mb-0
                                            span.caption.text-white(style='color:white') Remember me
                                            input.checkbox(checked='checked')
                                            .control__indicator
                                        span.ml-auto
                                            a.forgot-pass.text-white(href='#') Forgot Password
                                    button.text-centre.btn.btn-block.btn-primary(style='color:white')#click Log in

        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/main.js')
        script(src='js/login.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')

