doctype html 
html(lang='en')
    head 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Workflow Management System')
        meta(name='author' content='Akhil R Nair')
        title Workflow Management System
        // Custom fonts for this template
        link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
        // Custom styles for this template
        link(href='css/sb-admin-2.min.css' rel='stylesheet')

    body.bg-gradient-primary
        .container 
            .card.o-hidden.border-0.shadow-lg.my-5
                .card-body.p-0
                    // Nested Row within Card Body
                    .row 
                        .col-lg-5.d-none.d-lg-block
                            img(src='img/bg-register.png' alt='Register')
                        .col-lg-7
                            .p-5
                                .text-center
                                    h1.h4.text-gray-900.mb-4 Create an Account!
                                form.user
                                    .form-group.row
                                        .col-sm-6.mb-3.mb-sm-0
                                            input.form-control.form-control-user(type='text' placeholder='Organisation Name')#exampleFirstName
                                        .col-sm-6
                                            input.form-control.form-control-user(type='text' placeholder='Organisation Type')#exampleLastName
                                    .form-group
                                        input.form-control.form-control-user(type='email' placeholder='Email Address')#exampleInputEmail
                                    .form-group.row
                                        .col-sm-6.mb-3.mb-sm-0
                                            input.form-control.form-control-user(type='password' placeholder='Password')#exampleInputPassword
                                        .col-sm-6
                                            input.form-control.form-control-user(type='password' placeholder='Repeat Password')#exampleRepeatPassword
                                    a.btn.btn-primary.btn-user.btn-block(href='login') Register Account
                                    hr
                                    a.btn.btn-google.btn-user.btn-block(href='home')
                                        i.fab.fa-google.fa-fw Register with Google
                                    a.btn.btn-facebook.btn-user.btn-block(href='home')
                                        i.fab.fa-facebook-f.fa-fw Register with Facebook
                                    hr
                                .text-center
                                    a.small(href='#') Forgot Password?
                                .text-center
                                    a.small(href='login') Already have an account? Login!
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

        // Core plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')

        // Custom scripts for all pages
        script(src='js/sb-admin-2.min.js')