doctype html 
html 
    head 
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Workflow Management System')
        meta(name='author' content='Akhil R Nair')
        title Workflow Management System 
        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' rel='stylesheet')
        // Core theme CSS (includes Bootstrap)
        link(href='css/css_services/styles.css' rel='stylesheet')
    
    body 
        section.bg-light.border-bottom#pricing
            img(src='assets/img/navbar-logo.svg' alt='...' width='200px' style='background: transparent; padding-left: 5vw;')
            .container.px-5.my-4.text-center
                .mb-3
                    h1.text-white.text-uppercase Choose Your Plan
                    p.lead.mb-0.text-white.text-center With our no hassle pricing plans
                .row.gx-5.justify-content-center
                    // Pricing Card free
                    .col-lg-6.col-xl-4
                        .card.mb-5.mb-xl-0
                            .card-body.p-5
                                .small.text-uppercase.fw-bold.text-muted Basic
                                hr
                                .mb-3   
                                    span.display-4.fw-bold $0
                                    span.text-muted mo.
                                ul.list-unstyled.mb-4
                                    li.mb-2 
                                        i.bi.bi-check.text-primary
                                        strong 3 Levels 
                                    li.mb-2 
                                        i.bi.bi-check.text-primary 5GB storage
                                    li.mb-2.text-muted
                                        i.bi.bi-check.text-primary Limited Projects(20/mo)
                                    li.mb-2.text-muted
                                        i.bi.bi-x No addable additional feature
                                    li.mb-2.text-muted
                                        i.bi.bi-x Unlimited private projects
                                    li.mb-2.text-muted
                                        i.bi.bi-x Dedicated support
                                    li.mb-2.text-muted
                                        i.bi.bi-x Free linked domain
                                    li.mb-2.text-muted
                                        i.bi.bi-x Monthly status reports    
                                .d-grid
                                    a.btn.btn-outline-primary(href='register') Choose plan

                    // Pricing Card std
                    .col-lg-6.col-xl-4
                        .card.mb-5.mb-xl-0
                            .card-body.p-5
                                .small.text-uppercase.fw-bold.text-muted Basic
                                hr
                                .mb-3   
                                    span.display-4.fw-bold $9
                                    span.text-muted mo.
                                ul.list-unstyled.mb-4
                                    li.mb-2 
                                        i.bi.bi-check.text-primary
                                        strong 3 Levels 
                                    li.mb-2 
                                        i.bi.bi-check.text-primary 50GB storage
                                    li.mb-2
                                        i.bi.bi-check.text-primary Limited Projects(100/mo)
                                    li.mb-2.text-muted
                                        i.bi.bi-x No addable additional feature
                                    li.mb-2
                                        i.bi.bi-check.text-primary Unlimited private projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary Dedicated support
                                    li.mb-2
                                        i.bi.bi-check.text-primary Free linked domain
                                    li.mb-2.text-muted
                                        i.bi.bi-x Monthly status reports    
                                .d-grid
                                    a.btn.btn-outline-primary(href='register') Choose plan

                    // Pricing Card enterprise
                    .col-lg-6.col-xl-4
                        .card.mb-5.mb-xl-0
                            .card-body.p-5
                                .small.text-uppercase.fw-bold.text-muted Premium
                                hr
                                .mb-3   
                                    span.display-4.fw-bold $49
                                    span.text-muted mo.
                                ul.list-unstyled.mb-4
                                    li.mb-2 
                                        i.bi.bi-check.text-primary
                                        strong Customisable Levels
                                    li.mb-2 
                                        i.bi.bi-check.text-primary 1TB storage
                                    li.mb-2
                                        i.bi.bi-check.text-primary Unlimited projects
                                    li.mb-2.text-muted
                                        i.bi.bi-check.text-primary No addable additional feature
                                    li.mb-2
                                        i.bi.bi-check.text-primary Unlimited private projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary Dedicated support
                                    li.mb-2
                                        i.bi.bi-check.text-primary Free linked domain
                                    li.mb-2.text-muted
                                        i.bi.bi-check.text-primary Monthly status reports    
                                .d-grid
                                    a.btn.btn-outline-primary(href='register') Choose plan

        // Footer
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        // Core theme JS
        script(src='js/js_services/scripts.js')
        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')

